body {
    /* Text */
    font-family: Courier, monospace;
    line-height: 1.5;

    /* Colors */
    background-color: #282a36;
    color: #f8f8f2;

    /* Sizing */
    margin:0;
    padding:0;
}

main {
    margin: auto;
    width: 85%;
}

section {
    /* Colors */
    background-color: #6272a4;
    color: #f8f8f2;

    /* Sizing */
    padding: 5em;
    margin: 2em auto;
}

section a {
    background-color: #6272a4;
    color: #ff79c6;
}

h2 {
    text-align: center;
}

header, footer {
    /* Colors */
    background-color: #f8f8f2;
    color: #282a36;
    
    /* Flexbox */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

header img{
    width: 100%;
    height: 100vh;
}

nav a, footer a {
    /* Colors */
    background-color: #f8f8f2;
    color: #282a36;

    /* Creating a box around the elements of the nav */
    padding: 1em 1em;

    /* Text */
    text-decoration: none;
}

nav a:hover, footer a:hover {
    background-color: #44475a;
    color: #f8f8f2;
}

nav a:active, footer a:active {
    background-color: #bd93f9;
    color:#f8f8f2;
}

blockquote {
    /* Colors */
    background: #fbfbfb;
    color: #282a36;

    /* Sizing */
    display: flex;
    align-items: stretch;
    margin: auto;
}

blockquote img {
    width: auto;
}

blockquote p {
    /* Sizing */
    padding: 2em;
    align-self: center;

    /* Text */
    font-family: "Apple Chancery", cursive;
}

video, audio, img {
    width: 100%;
}

table {
    /* Sizing */
    table-layout:fixed;
    width: 100%;

    /* Border */
    border: 0.2em solid #fbfbfb;
    border-collapse: collapse;

     /* Text */
    text-align: center;
}

th {
    /* Colors */
    background-color: rgba(248, 248, 242, 0.15);
    color: #fbfbfb;

    /* Border */
    border: 0.1em solid #fbfbfb;
    border-collapse: collapse;

    /* Text */
    font-size: 1em;
}

td {
    /* Border */
    border: 0.1em solid #fbfbfb;
    border-collapse: collapse;
}